<html>
<head>

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
 <title>Ensemble Feature Selection</title>
{%load static%}
<!-- CSS Link -->
<link rel="stylesheet" href="static/style1.css">

</head>

<body>
    <div class="topnav">
    <a class="active" href="homereturn">Home</a>
    <a href="aboutfeatures" style="color: white;">About Feature Selection Methods</a>
    <a href="AboutClassifier" style="color: white;">About Classifiers</a>
    <a href="https://archive.ics.uci.edu/ml/index.php" style="color: white;">Browse data</a>
    <a href="#contact" style="color: white;" q>Contact</a>
    </div>
    <section class="main">
        <div class="left">
            {%block contentleft%}
            {%endblock%}
        </div>
        <div class="middle">
            {%block contentmiddle%}
            {%endblock%}
        </div>
        <div class="right">
            {%block contentright%}
            {%endblock%}
        </div>
    </section>
</body>
</html>